:root {
    --moonlight-desaturated-gray: #C3BAC6;
    --moonlight-dark-blue: #96CDFB;
    --moonlight-blue: #96CDFB;
    --moonlight-sky-blue: #89DCEB;
    --moonlight-cyan: #B5E8E0;
    --moonlight-red: #ff757f;
    --moonlight-dark-red: #F28FAD;
    --moonlight-light-red: #F28FAD;
    --moonlight-yellow: #FAE3B0;
    --moonlight-orange: #F8BD96;
    --moonlight-dark-orange: #F8BD96;
    --moonlight-teal: #B5E8E0;
    --moonlight-green: #ABE9B3;
    --moonlight-purple: #DDB6F2;
    --moonlight-pink: #F5C2E7;
    --moonlight-indigo: #96CDFB;
    --moonlight-bright-cyan: #B5E8E0;
    --moonlight-gray-10-alt: #161320;
    --moonlight-gray-10: #C3BAC6;
    --moonlight-gray-9: #1A1826;
    --moonlight-gray-8: #C3BAC6;
    --moonlight-gray-7: #302D41;
    --moonlight-gray-6: #C3BAC6;
    --moonlight-gray-5: #1A1826;
    --moonlight-gray-4: #161320;
    --moonlight-gray-3: #1A1826;
    --moonlight-gray-2: #161320;
    --moonlight-gray-1: #1A1826;
    
    --scrollbar-chrome-size: 6px;
}
