@import '_variables.css';
@import '_global.css';
@import '_tab-bar.css';
@import '_navigation-bar.css';
@import '_bookmarks-bar.css';
@import '_find-bar.css';
@import '_side-bar.css';
@import '_menu.css';
@import '_context-css.css';

* {
	font-family: 'JetBrainsMono Nerd Font';
}

ot {
    --hidetabs-tab-min-height: 100px;
}

:root[uidensity=compact] {
    --hidetabs-tab-min-height: 50px;
}

:root[uidensity=touch] {
    --hidetabs-tab-min-height: 50px;
}

/* Set --tab-min-height to 0px so tab bar can disappear */
#tabbrowser-tabs {
    --tab-min-height: 0px;
}

/* Restore minimum height when more than one tab */
#tabbrowser-tabs tab {
    height: 50px;
}

/* Collapse tab bar when there is only one tab (tab is both first & last) */
#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
    visibility: collapse;
}

/* Hide the New Tab button when there is only one tab (first visible tab is
   adjacent to new tab button) */
#tabbrowser-tabs tab[first-visible-tab="true"] + #tabs-newtab-button {
    visibility: collapse;
}